SPRING_DATASOURCE_URL=database_url_source
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=database_password
DB_SCHEMA=schema
JWT_SECRET=your_base64_jwt_secret
JWT_EXPIRATION=expirationtime
